<a href="https://colab.research.google.com/github/kiran-pyt/OOP/blob/main/Modification_of_static_varibles_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
class test:
  """ Modification of class variables """
  x=10
  y=20
  def display(self):
    print(test.x)
    print(test.y)
    test.x=30
    test.y=40
  def show(self):
    print(test.x)
    print(test.y)
t1=test()          # defining the object statement

In [7]:
t1.show()          # calling show method which prints x=10,y=20

10
20

In [8]:
t1.display()       # calling display method which prints x=10,y=20 and modifies to x=30,y=40

10
20

In [9]:
t1.show()          # calling show method which prints x=30,y=40

30
40

In [10]:
t1.display()      # calling display method which prints x=30,y=40

30
40

In [11]:
t2=test()        # creating second object

In [12]:
t2.show()       # calling show method which prints x=30,y=40

30
40

In [13]:
t2.display()     # calling display method which prints x=30,y=40

30
40

In [14]:
#modifying SV's from outside the class
test.x=50  #Modifying SVs from outside the class
test.y=60

In [15]:
print("x=",test.x)
print("y=",test.y)
t1.show()             #calling display method which prints x=50,y=60
t1.display()          #calling display method which prints x=50,y=60 and modifies to x=30 and x=40
t1.show()             #calling display method which prints x=30,y=40

x= 50
y= 60
50
60
50
60
30
40